name: Deploy

run-name: Site updated to ${{ github.ref }}

on:
  workflow_dispatch: {}
  workflow_run:
    workflows: [CI]
    types: [completed]
    branches: [main]
  
jobs: 
  build-and-deploy:
    name: Publish to GH pages
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' }}
    permissions: 
      contents: read
      pages: write
      id-token: write
    steps: 
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v4.1.0
      - uses: ruby/setup-ruby@v1 # pinning to commits is not recommended for this action
      - name: Install dependencies
        run: |
          gem install bundler
          bundle install
      - name: Setup Pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0
      - name: Build
        run: bundle exec rake build
      - name: Upload artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: "build"
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5